img{height: 150px;
width: 150px;

}

.product-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc; 
    padding: 5rem; 
    margin: 2rem; 
    border-radius: 15px; 
}
.checkout{
background-color: rgb(202, 197, 197);
height: 400px;
}
.checkoutbtn{background-color: rgb(51, 249, 33);
width: 500px;
height: 50px;
margin-top: 300px;
}
img:hover {
    transform: scale(1.1); 
    opacity: 0.8; 
}